[Unit]
Description=phat - Winlink client for %I
Documentation=https://github.com/denmojo/phat
After=ax25.service network.target

[Service]
User=%i
ExecStart=/usr/bin/phat http
Restart=on-failure

[Install]
WantedBy=multi-user.target
